<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Estuda+</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="login-container">

    <img src="{{ url_for('static', filename='img/logobranca.png') }}" class="logobranca">

    <div class="login-card">

        <h2>Cadastrar</h2>

        <form method="POST">

            <input name="nome" type="text" placeholder="Seu nome" required>
            <input name="email" type="email" placeholder="E-mail" required>
            <input name="senha" type="password" placeholder="Senha" required>
            <input name="confirmar_senha" type="password" placeholder="Confirme a senha" required>

        <button type="submit">Cadastrar</button>

        </form>

            <p>
                Já possui conta?
                <a href="/login">Entrar</a>
            </p>

            <button type="submit">Cadastrar</button>
        </form>

    </div>

</div>

</body>
</html>