{% extends "base.html" %}

{% block content %}

<div class="criar-page">

    <h2>Meu Cronograma</h2>

    <div class="botoes">
        <a href="/cronograma/criar">
            <button class="btn-primary" type="button">
                Nova tarefa
            </button>
        </a>
    </div>

    <form action="/buscar" method="GET">

        <input
            type="text"
            name="assunto"
            placeholder="Pesquisar assunto">

        <button type="submit">
            Buscar
        </button>

    </form>

    <table>

        <thead>
            <tr>
                <th>Matéria</th>
                <th>Assunto</th>
                <th>Horário</th>
                <th>Descrição</th>
                <th>Dia</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            {% if tarefas %}

                {% for t in tarefas %}
                <tr>

                    <td>{{ t.materia.nome }}</td>
                    <td>{{ t.assunto }}</td>
                    <td>{{ t.horario }}</td>
                    <td>{{ t.descricao }}</td>
                    <td>{{ t.dia }}</td>

                    <td>
                        <a href="/cronograma/editar/{{ t.id }}">Editar</a> |
                        <a href="/cronograma/remover/{{ t.id }}">Excluir</a>
                    </td>

                </tr>
                {% endfor %}

            {% else %}

                <tr>
                    <td colspan="6" style="text-align:center;">
                        Nenhuma tarefa cadastrada.
                    </td>
                </tr>

            {% endif %}

        </tbody>

    </table>

</div>

{% endblock %}