{% extends "base.html" %}

{% block content %}


<div class="container">

    <h2 class="titulo">CRONOGRAMA DE ESTUDOS</h2>

    <div class="grade">

<!-- DIAS -->
        <div class="dia">Domingo</div>
        <div class="dia">Segunda</div>
        <div class="dia">Terça</div>
        <div class="dia">Quarta</div>
        <div class="dia">Quinta</div>
        <div class="dia">Sexta</div>
        <div class="dia">Sábado</div>

<!-- LINHAS -->
        {% for i in range(35) %}
            <div class="bloco"></div>
        {% endfor %}

    </div>

    <div class="bto">

        <a href="/listar" class="btn-primary">
            Editar
        </a>

    </div>

</div>


{% endblock %}